
.container{
  width: 70%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #231081;
  margin: auto;
  border: 2px solid #aaaaaa;
}
.container *{
  padding: 10px;
}
.container h1{
  font-size: 1.5em;
  padding-bottom: 0;
}
.cabecera{
  font-size: 1.2em;
  background-color: #010411;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 1px 5px #000000;
}